{% extends 'layout.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('show_team', {"id":team.id}) }}"><< Back</a></li>
        </ol>
    </nav>

    <div class="card shadow-sm">
        <h5 class="card-header">Feedback History of {{ team.name }}</h5>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ feedback.date|date("F j, Y") }}</td>
                        <td>{{ feedback.rating }}</td>
                        <td>{{ feedback.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
