{% extends 'layout.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('index') }}"><< Back</a></li>
        </ol>
    </nav>

    <div class="card shadow-sm">
        <h5 class="card-header">{{ team.name }}</h5>

        <div class="card-body text-center">
            <p class="card-text">Save this ID <strong>{{ team.id }}</strong> in order to find your team later.</p>
            <p class="card-text">Or just simply save this page to bookmarks!</p>

            <p>
                <a href="{{ path_for('feedback_history', {"id":team.id}) }}" class="btn btn-outline-primary">Feedback history</a>

                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapsedEmails">
                    Edit team emails
                </button>
            </p>

            <div class="collapse" id="collapsedEmails">
                <form id="form" method="post" action="{{ path_for('save_team', {'id':team.id}) }}">
                    <div class="form-group d-flex justify-content-center">
                        <textarea id="emails" name="emails" class="form-control w-25" rows="10">{% for email in emails.all %}{{ email }}
{% endfor %}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
